USE [da3_intra_sommatif]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Fuels]') AND type in (N'U'))
ALTER TABLE [dbo].[Fuels] DROP CONSTRAINT IF EXISTS [DF_Fuels_DateCreated]
GO
/****** Object:  Table [dbo].[Fuels]    Script Date: 10/21/2024 10:11:47 AM ******/
DROP TABLE IF EXISTS [dbo].[Fuels]
GO
USE [master]
GO
/****** Object:  Database [da3_intra_sommatif]    Script Date: 10/21/2024 10:11:47 AM ******/
DROP DATABASE IF EXISTS [da3_intra_sommatif]
GO
/****** Object:  Database [da3_intra_sommatif]    Script Date: 10/21/2024 10:11:47 AM ******/
CREATE DATABASE [da3_intra_sommatif]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'da3_intra_sommatif', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DEV\MSSQL\DATA\da3_intra_sommatif.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'da3_intra_sommatif_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DEV\MSSQL\DATA\da3_intra_sommatif_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [da3_intra_sommatif].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [da3_intra_sommatif]
GO
/****** Object:  Table [dbo].[Fuels]    Script Date: 10/21/2024 10:11:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fuels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[UsageDescription] [nvarchar](255) NOT NULL,
	[JoulesPerKg] [bigint] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Fuels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Fuels] ON 

INSERT [dbo].[Fuels] ([Id], [Name], [UsageDescription], [JoulesPerKg], [DateCreated]) VALUES (1, N'Essence', N'Propulsion', 46000000, CAST(N'2024-10-21T08:08:35.223' AS DateTime))
INSERT [dbo].[Fuels] ([Id], [Name], [UsageDescription], [JoulesPerKg], [DateCreated]) VALUES (2, N'Uranium235', N'Electricite', 3900000000000, CAST(N'2024-10-21T08:09:29.697' AS DateTime))
INSERT [dbo].[Fuels] ([Id], [Name], [UsageDescription], [JoulesPerKg], [DateCreated]) VALUES (3, N'hello', N'Eau', 67898765434567, CAST(N'2024-10-21T10:07:36.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[Fuels] OFF
GO
ALTER TABLE [dbo].[Fuels] ADD  CONSTRAINT [DF_Fuels_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
USE [master]
GO
